@using MVC_empty.Models
@model List<Book>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
        Books : 
    <ul>
        @foreach (Book item in @Model)
        {
            <li>@item.Name</li>
        }
    </ul>
</body>
</html>
