@model AjaxExample.Models.TestModel

@{
    ViewBag.Title = "_GetScorePartial";
    var rand = new Random();
}

<h2>Scores from server</h2>
@for (var i = 0; i < Model.ScoresNum; i++)
{
    <h5>@rand.Next(5):@rand.Next(5)</h5>
}
