@using Test.Models;
@model ViewModelAdd



@{
    ViewBag.Title = "Increment";
}

<h2>Increment</h2>

@using (Html.BeginForm("ResultIncrement", "Cont1",
    FormMethod.Post, 
    new { @class = "form-horizontal", role = "form" }))
{
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m1 => m1.Number, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Number,
           new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit"
             class="btn btn-default" 
             value="Submit" />
        </div>
    </div>
}

