<!DOCTYPE html>
<html>
<head>
    <style>
        #idNameNotValid {
            color: red;
        }
    </style>
</head>
<body>
    @{
        string strNameNotValid="";
        string strNameNotValidError = "name is required";
        bool bIsValid = true;

        if (IsPost)
        {
            string name = Request.Form["fname"];
            if(String.IsNullOrWhiteSpace(name))
            {
                strNameNotValid = strNameNotValidError + " (server side validation)";
                bIsValid = false;
            }

            if(bIsValid)
            {
                <p>submitted name : @name</p>
            }
        }

        if(!IsPost || !bIsValid)
        {
            <h1>simple client side using onsubmit and server side validation</h1>
            <h2>empty name is not valid</h2>
            <h3>server and client error appears on the same p element !!!!</h3>

            <form method="post" action="" onsubmit="return myFunction()">
                Enter name: <input id="idName" type="text" name="fname"> <br />
                <p id="idNameNotValid">@strNameNotValid</p>
                <input type="submit" value="Submit">
            </form>

        }
    }

    <script>
    function myFunction() {
        var isValid = document.getElementById("idName").value.length > 0;
        if (!isValid) {
            document.getElementById("idNameNotValid").innerText =  '@strNameNotValidError' + " (client side validation)";
        }
        return isValid;
    }

    </script>

</body>
</html>