@{
    int [] array = new int[3];
    for (int i = 0; i < array.Length ; i++)
    {
        array[i] = i;
    }
}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
    @foreach (var val in array)
    {
        <p>@val</p>
    }
    </body>
</html>
