@{
    var virtualFilePath = "~/storage/a.txt";
    var physicalFilePath = Server.MapPath(virtualFilePath);
    var strContent = File.ReadAllText(physicalFilePath);
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>@strContent</p>
    </body>
</html>
