
@{
    ViewBag.Title = "Create";
}

<h2>Create Blog</h2>

<form action="/Blog/Create" method="post">
    <input type="text" name="title" required placeholder="title"/><br />
    <input type="submit" value="Create" />
</form>
