@using BlogsMVC_EF.Models

@model IEnumerable<Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Blog Index</h2>

<a href="/Blog/Create">Add New Blog</a><br /><br />



<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Title</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
        </tr>
    }
    
</table>