@{
    var virtualBooksFile = "~/storage/books.txt";
    var physicalBooksFile = Server.MapPath(virtualBooksFile);
    string[] arFileLines = File.ReadAllLines(physicalBooksFile);
}
<!DOCTYPE html>
<html>
<head>
    <title>Book store</title>
</head>
<body>
    <ul>
        @foreach (string currentBook in arFileLines)
        {
            <li>@currentBook</li>
        }
    </ul>
</body>
</html>
